* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.title {
  margin-left: -0.5rem;
  font-size: 2rem;
}
.intro-chunk{
  padding-top: 4rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}
.intro-chunk p:first-of-type{
  margin-top: 4rem;
}
strong{
  color: rgb(3, 145, 3);
}

.gray-section{
  width: 100%;
  background-color: rgba(109, 102, 102, 0.8);
  border-top: 4px solid rgba(22, 22, 22,0.2);
}

.first{
  height: 6rem;
margin-top: 4rem;
}
.second{
  height: 3rem;
}

.indented-heading{
  background-color:#F5BD1F;
  padding: 18px 24px;
  width: 80%;
border-bottom: 5px solid #9e7400;
}


@media(min-width:640px){
  *{
    font-size: 1rem;
  }
  .intro-chunk{
    width: 60%
  }
}
@media(min-width:800px){
  .intro-chunk{
    width: 30%;
    margin-left: 20%;
  }
  .first{
    position: absolute;
    height: 100%;
  }
  .card{
    position: absolute;
    background-color: white;
    width: 70%;
    height: 35%;
   margin-left: 20%;
   margin-top: 10%;
  }
  .second{
    display: none;
  }
  .indented-heading{
    margin-left: -1rem;
  }
}
